In [3]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Gartal
What is your age? 22
Your name is Gartal. Your age is 22

In [4]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are not equal

In [8]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print("a is greater than b")
elif(a==b):
  print("a is equal to b")
else:
  print("a is less than b")

a is less than b

In [9]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [13]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
  print (k)

5
4
3
2
1

In [20]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-2,-2):
  if k!=8:
   print(k)

10
6
4
2
0

In [24]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

x=int(input("Please enter your birth year :\n"))
def calc(x=x, y=2022):
  return y-x
print (calc())

Please enter your birth year :
1999
23

In [51]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arit:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplacation(x,y):
    return x*y
  def division(x,y):
    return x/y

print(arit.addition(30,5))
print(arit.substraction(30,5))
print(arit.multiplacation(30,5))
print(arit.division(30,5))

35
25
150
6.0

In [33]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = int(input("First Number"))
sum = 0
for num in range (1, n + 1, 1):
  sum = sum + num
print ("Sum of first ", n, "numbers is:", sum)

First Number7
Sum of first  7 numbers is: 28

In [41]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import numpy as np
lst = []
for k in range (10):
   lst.append(np.random.rand())
lst[:3]

[0.24760409138855166, 0.739158571916302, 0.8957721601975435]

In [49]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n= 15
for i in range(1, n+1, 1):
  if (i%3 == 0):
    print (i)

3
6
9
12
15